/* src/components/PredictionResult.css */
.prediction-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .no-disease {
    color: green;
  }
  
  .has-disease {
    color: red;
  }
  
  .back-link {
    margin-top: 20px;
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
  }
  
  .back-link:hover {
    color: #2980b9;
  }
  
  .back-btn{
    background-color: #0b9444e6;
    padding: 20px 20px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    font-size: 24px;
  }

  .back-btn:hover{
    color: white;
    background-color: #0b9444;
  }
